body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h1,
h2,
h3 {
    color: #333;
}

.nav-link {
    transition: color 0.3s;
}

.nav-link:hover {
    color: #ffc107;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

footer {
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

.container {
    max-width: 800px;
}

.form-label {
    font-weight: bold;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #f1f1f1;
}